In [90]:
import requests  #similar to urllib, this library allows a computer to ping a website
import json      #library to handle JSON formatted data
import pandas as pd
import numpy as np

In [56]:
url ='https://data.nasa.gov/resource/y77d-th95.json'

In [57]:
#the get function checks to make sure that the website/server is responding back
#200 means that we're good
#https://www.restapitutorial.com/httpstatuscodes.html
resp = requests.get(url)
resp

In [130]:
#send a request to the website to return back text data from the API
#returns data as JSON string
str_data = resp.text

In [133]:
#loads function reversed dictionary order
#dictionary objects are unordered in general
WDdata = json.loads(str_data)
type(WDdata)

list

In [137]:
#dumps function reverses order again
#can currently see correct order of objects

#print(json.dumps(WDdata,indent=4))

In [60]:
#verify that JSON object is one big dictionary
type(WDdata)

list

In [92]:
idls=[]
fallls=[]
namels=[]
ntypesls=[]
massels=[]
yearls=[]
latitudels=[]
longitudels=[]

In [127]:
#if mass is a float then change it to the nearest integer else just load it
x=[]
x=5.92

x=int(round(x))
type(x)
x
type(x)
if type(x)==int:
    print('Hey')
else:
    print('booo')

Hey

In [138]:
y=[]
for meteor in WDdata:
    try: masse = meteor['mass']
    except: masse = None
    if type(masse)==int:
        masse=int(round(masse))
        y.append(masse)
        #print(masse)
    #print(masse)
    #print(meteor['name'])

In [121]:
for meteor in WDdata:
    idls.append(meteor['id'])
    fallls.append(meteor['fall'])
    namels.append(meteor['name'])
    ntypesls.append(meteor['nametype'])
    #massels.append(meteor['mass'])
    
        
    try: years= meteor['year']
    except: years= None 
    
    try: latitude=meteor['reclat']
    except: latitude=None

    try: longitude=meteor['reclong']
    except: longitude=None
        
    try: masse = meteor['mass']
    except: masse = None
        
    if type(masse)==int:
        masse=int(round(masse))
        massels.append(masse)
    else:
        massels.append(masse)
    yearls.append(years)
    latitudels.append(latitude)
    longitudels.append(longitude)

In [139]:
#massels

In [123]:
len(idls)
len(fallls)
len(namels)
len(ntypesls)
len(massels)

1000

In [140]:
table=list(zip(idls,fallls,namels,ntypesls,massels,yearls,latitudels,longitudels))

In [125]:
ColumnNames=['ID','Fall','Name','TypeName','Masse','Year','Latitude','Longitude']

In [126]:
df=pd.DataFrame(table,columns=ColumnNames)
df.head()

,ID,Fall,Name,TypeName,Masse,Year,Latitude,Longitude
0,1,Fell,Aachen,Valid,21,1880-01-01T00:00:00.000,50.775000,6.083330
1,2,Fell,Aarhus,Valid,720,1951-01-01T00:00:00.000,56.183330,10.233330
2,6,Fell,Abee,Valid,107000,1952-01-01T00:00:00.000,54.216670,-113.000000
3,10,Fell,Acapulco,Valid,1914,1976-01-01T00:00:00.000,16.883330,-99.900000
4,370,Fell,Achiras,Valid,780,1902-01-01T00:00:00.000,-33.166670,-64.950000

dict_keys(['fall', 'geolocation', 'id', 'mass', 'name', 'nametype', 'recclass', 'reclat', 'reclong', 'year'])

In [128]:
#.count counts only values not nulls
df.count()

ID           1000
Fall         1000
Name         1000
TypeName     1000
Masse         972
Year          999
Latitude      988
Longitude     988
dtype: int64